
<div id="roll_dialog">
    <table class="sul__roll-parameters">
        <tr>
            <td>{{localize "SUL.skill"}}</td>
            <td>{{label}}</td>
        </tr>
        <tr>
            <td>{{localize "SUL.tagaspectfate"}}</td>
            <td><input type="checkbox" name="tagaspectfate"/></td>
        </tr>
        <tr>
            <td>{{localize "SUL.tagaspectfree"}}</td>
            <td><input type="checkbox" name="tagaspectfree"/></td>
        </tr>
        <tr>
            <td>{{localize "SUL.othermodifier"}}</td>
            <td><input type="number" name="othermodifier"/></td>
        </tr>
    </table>

    <button class="makeroll">{{localize "SUL.makeroll"}}</button>
</div>