<div class="sul__aspect-list">
    <span class="sul__panel-label">{{localize "SUL.aspects"}}</span>
    <input name="system.aspects.aspect1" class="sul__aspect-input" value="{{system.aspects.aspect1}}"/>
    <input name="system.aspects.aspect2" class="sul__aspect-input" value="{{system.aspects.aspect2}}"/>
    <input name="system.aspects.aspect3" class="sul__aspect-input" value="{{system.aspects.aspect3}}"/>
    <input name="system.aspects.aspect4" class="sul__aspect-input" value="{{system.aspects.aspect4}}"/>
    <input name="system.aspects.aspect5" class="sul__aspect-input" value="{{system.aspects.aspect5}}"/>
    <input name="system.aspects.aspect6" class="sul__aspect-input" value="{{system.aspects.aspect6}}"/>
    <input name="system.aspects.aspect7" class="sul__aspect-input" value="{{system.aspects.aspect7}}"/>
    <input name="system.aspects.aspect8" class="sul__aspect-input" value="{{system.aspects.aspect8}}"/>
    <input name="system.aspects.aspect9" class="sul__aspect-input" value="{{system.aspects.aspect9}}"/>
</div>